<!DOCTYPE html>
<html>
  <head>
    <title>HomePage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <div class="navbar">
      <h1>Josh Felton Mathews</h1>
      <% if admin_signed_in? %>
        <div class="sign_out">
          <%= link_to "Sign out", destroy_admin_session_path, data: { turbo_method: :delete } %>
        </div>
      <% end %>
    </div>
    <div class="body">
      <%= yield %>
    </div>
  </body>
</html>
